.metro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCC;
}

.canvas-paths {
  margin-top: -2000px;
  z-index: 0;
}

.canvas-trains {
  z-index: 2;
}

.canvas-stations {
  margin-top: -2000px;
  z-index: 1;
}

.line-people {
  display: flex;
  flex-direction: column;
}
