.metro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCC;
}

.canvas-paths {
  margin-top: -2000px;
  z-index: 0;
}

.canvas-trains {
  z-index: 2;
}

.canvas-stations {
  margin-top: -2000px;
  z-index: 1;
}

.line-people {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #DDD;
  border-radius: 10px;
}

.card-content {
  border-radius: 5px;
}

.card-header {
  text-transform: uppercase;
  font-size: 20px;
}
